{% extends 'itsallagileBootstrapBundle::base.html.twig' %}

{% block styles %}
    {{ parent() }}
    {% stylesheets
        '@itsallagileScrumboardBundle/Resources/public/css/board.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="board">
        <div id="templates">
            <div class="template task"><p class="note-content"></p><textarea class="note-input"></textarea></div>
            <div class="template test"><p class="note-content"></p><textarea class="note-input"></textarea></div>
            <div class="template bug"><p class="note-content"></p><textarea class="note-input"></textarea></div>
            <div class="template defect"><p class="note-content"></p><textarea class="note-input"></textarea></div>
            <div class="template design"><p class="note-content"></p><textarea class="note-input"></textarea></div>
            <div id="trash">TRASH</div>

        </div>
        <div id="story" class="column">
            <h1>Story</h1>
        </div>
        <div id="todo" class="column">
            <h1>Todo</h1>
        </div>
        <div id="assigned" class="column">
            <h1>Assigned</h1>
        </div>
        <div id="done" class="column">
            <h1>Done</h1>
        </div>
    </div>
{% endblock %}


{% block endscript %}
    {{ parent() }}
    
        {% javascripts
            '@itsallagileScrumboardBundle/Resources/public/js/*'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

{% endblock %}

