<h1>Dashboard</h1>
<div class="span8">
    <h2>Teams</h2>
    <p><a href="#/new-team">Add Team</a></p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Velocity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="!teams.length">
                <td colspan="3">No teams at the minute, why not <a href="/teams/add">add one</a>?</td>                
            </tr>
            <tr ng-repeat="team in teams">
                <td>{{ team.name }}</td>
                <td>{{ team.velocity }}</td>
                <td>
                    <a ng-show='team.owner.id = currentUser.id' href="/teams/edit/{{team.id}}">
                        <i class="icon-pencil" title="Manage Team"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Available Boards</h2>
    <p><a href="#/new-board">Add Board</a></p>    
    <div>
        <label>Filter by team: </label>
        <select ng-model="teamQuery" 
            ng-options="team.id as team.name for team in teams" required></select>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Team<br/></th>
                <th>Name</th>
                <th>Slug</th>
                <th>Stories</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="board in boards | filter:teamFilter">
                <td>{{ board.team.name }}</td>
                <td>{{ board.name }}</td>
                <td>{{ board.slug }}</td>
                <td>{{ board.stories.length }}</td>
                <td><a href="#/board/{{board.slug}}">View</a></td>
            </tr>
        </tbody>
    </table>
</div>
