parameters:
    mongo_server:      mongodb://localhost:27017
    mongo_port:        ~
    mongo_name:        agile

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
 
    yui_jar:           /var/www/html/yuicompressor/build/yuicompressor-2.4.7.jar
