<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Scrumboard{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block styles %}
        <!-- Le styles -->
        {% stylesheets filter='cssrewrite'
            'bundles/itsallagilebootstrap/css/bootstrap.css'
            'bundles/itsallagilebootstrap/css/responsive-bootstrap.css'
            'bundles/itsallagilebootstrap/css/itsallagile.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock %}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Scrumboard</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/boards/add">Add Scrumboard</a></li>
              <li><a href="/teams/add">Add Team</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
 	{% block body %}{% endblock %}

    </div> <!-- /container -->

    {% block endscript %}
        {% javascripts
            '@itsallagileBootstrapBundle/Resources/public/js/jquery.min.js'
            '@itsallagileBootstrapBundle/Resources/public/js/jquery-ui.min.js'
            '@itsallagileBootstrapBundle/Resources/public/js/jquery.ui.touch-punch.js'
            '@itsallagileBootstrapBundle/Resources/public/js/bootstrap.js'
            '@itsallagileBootstrapBundle/Resources/public/js/json2.js'
            '@itsallagileBootstrapBundle/Resources/public/js/underscore.js'
            '@itsallagileBootstrapBundle/Resources/public/js/backbone.js'
            '@itsallagileBootstrapBundle/Resources/public/js/base.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
  </body>

</html>
