{% extends 'itsallagileCoreBundle::base.html.twig' %}

{% block body %}
	{% if error %}
		<div class="alert alert-error">{{ error.message }}</div>
	{% endif %}

	<form action="{{ path('login_check') }}" method="post" class="well">
		<label for="email">Email:</label>
		<input type="text" id="email" name="_email" value="{{ lastEmail }}" class="span3" placeholder="Email"/>
		<label for="password">Password:</label>
		<input type="password" id="password" name="_password" class="span3" placeholder="Password"/>
		<br />
                <button type="submit" class="btn">Login</button>	
	</form>
        <p>Don't have an account? why not <a href="{{ path('core_register')}}">Register?</a></p>
{% endblock %}
