{% extends 'itsallagileBootstrapBundle::base.html.twig' %}

{% block body %}
	{% if error %}
		<div class="alert alert-error">{{ error.message }}</div>
	{% endif %}

	<form action="{{ path('login_check') }}" method="post" class="well">
		<label for="username">Username:</label>
		<input type="text" id="username" name="_username" value="{{ lastUsername }}" class="span3" placeholder="Username"/>

		<label for="password">Password:</label>
		<input type="password" id="password" name="_password" class="span3" placeholder="Password"/>
		<button type="submit" class="btn">Submit</button>	
	</form>
{% endblock %}
