{% extends 'itsallagileBootstrapBundle::base.html.twig' %}

{% block body %}
        <div class="span6">
            <div class="page-header">
                <h1>Register</h1>
            </div>
            <form action="{{ path('register') }}" method="post" class="well">
                    {{ form_widget(form) }}
                    <button type="submit" class="btn">Register</button>	
            </form>
        </div>
{% endblock %}
