
.board {
    min-width: 1280px;
    border: 1px solid black;
}

#templates {
    border: 1px solid black;
    height: 60px;
}

.selected {
    border: 2px dotted blue;
    box-shadow: 5px 5px 5px  rgba(0,0,200,0.5);
}

.template {
    width:50px;
    height:50px;
    margin:5px;
    float: left;
}


/* TICKETS */

.ticket {
    width:90px;
    height:90px;
    margin:5px;
    border: 1px solid #888;
    box-shadow: 5px 5px 5px  rgba(200,200,200,0.5);
    float:left;
}


.ticket-input {
    width: 90%;
    height: 90%;
    display: none;
}

.task {
    background-color: yellow;
}

.test {
    background-color: cornflowerblue;
    color: white;
}

.bug {
    background-color: purple;
}

.defect {
    background-color: hotpink;
}

.design {
    background-color: greenyellow;
}

/* STATUS HEADERS */
.status-header {
    padding-left:1px;
    width:100%;  
    clear: both;
    height:40px;    
    vertical-align: central;
}

.status-header-cell {
    height:40px; 
    padding:5px;   
    text-align: center;
    border-left: 2px solid grey;
    width: 310px;
    font-size: 2em;
    float: left;
}

.status-header-undefined {
    width:250px;
}


/* STORY ELEMENT */

.story-content {
    width:100%;
}

.story {
    width:100%;
    border: 1px dashed #888;
    box-shadow: 0px 5px 5px  rgba(200,200,200,0.5);
    clear:both;
}

.story-input {
    background: none;
    border:none;
    width:95%;
    height:95%;
    resize: none;
    display:none;
}

.story-detail-cell {
    border-left: 2px solid grey;
    padding: 5px;
    width: 250px;
    height:100%;
    float: left;
    margin:auto;
}

.story-status-cell {
    float:left;
    padding: 5px;
    width:310px;
    height:100%;
    min-height:130px;
    border-left: 2px solid grey;
    margin:auto;
}

.drop-active {
    background-color: #eee;
}

.drop-hover {
    background-color: #ccf;
    border: 1px solid #22f;
}