.board {
    border: none;
    float: left;
    margin-left: 114px;
    min-width: 84%;
}

#board-container {
    position:relative;
    overflow: hidden; /* To clear floats */
}

#toolbar {
    border: 1px solid #888888;
    float: left;
    vertical-align: middle;
    padding: 10px 5px;
    position: fixed;
}

.selected {
    border: 2px dotted blue;
    box-shadow: 5px 5px 5px  rgba(0,0,200,0.5);
}

#templates {
    list-style: none;
    margin: 0;
}
.template {
    width:70px;
    height:70px;
    margin: 10px auto 0;
    cursor: move;
    border: 1px solid #888888;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* Notification container */
#notification-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
}


/* Live update boxes */
.live-box-heading {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: white;
    margin:0;
    padding:5px;
    z-index: 2;
    position: relative;
    border-radius: 5px 5px 0 0;
}

/* Connected users box */

#connected-users {
    border: 0;
    position:fixed;
    bottom: 0;
    right: 350px;
    z-index: 6000001;
}

#user-handle {
    background-color: #6682b5;
}

#users-list {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: white;
    display: none;
    list-style:none;
    padding: 5px;
    margin:0;
    z-index: 1;
    position: relative;
}

#users-list li {
    padding-left: 0px;
}

/* Chat Box */

#chatbox {
    border: 0px;
    position:fixed;
    bottom: 0;
    right: 20px;
    z-index: 6000001;
}

#chat-handle {
    background-color: #007e40;
    width:250px;
}

.new-message {
    background-color: red !important;
}

#chat-window {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    width:260px;
    background-color: white;
}
    #chat-window > form {
        margin-bottom: 0;
    }

#chat-messages {
    border: none;
    width:250px;
    height:300px;
    overflow-y: scroll;
    padding: 5px;
}

#chat-messages hr {
    margin:0px;
}

#chat-messages p {
    margin:0 0 0 10px;
}

#message-input-area {
    border-top: 1px solid black;
    width: 250px;
    margin:0;
    padding: 5px;
}

#message-input {
    border:none;
    width:210px;
    margin:0;
}

#message-submit {
    float: right;
}

.message-head{
    font-weight: bold;
    margin-bottom: 1px;
    text-decoration: underline;
}

/* TICKETS */

.ticket {
    width:90px;
    height:90px;
    padding: 5px;
    margin: 0 5px 10px;
    border: 1px solid #888;
    float:left;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 90%);
    background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 90%);
    background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 90%);
}

.ticket-actions {
    position: absolute;
    top: 0;
    right: 0;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.35);
    height: 20px;
    width: 40px;
    display: none;
    border-radius: 0 0 0 3px;
}
.ticket-action {
    cursor: pointer;
    margin: 2px 0 0 5px;
}

.ticket-input {
    width: 90%;
    height: 90%;
    display: none;
}

.ticket-age {
    position: absolute;
    bottom: 2px;
    right: 0;
    min-width: 15px;      
}   

.age-ok {
    
}

.age-old {
    color: red;
    font-weight: bold;
}
.task {
    background-color: #FFFF84;
}

.test {
    background-color: cornflowerblue;
    color: white;
}

.bug {
    background-color: #BC2EBC;
    color: white;
}

.defect {
    background-color: #FF68DD;
}

.design {
    background-color: #4BFE78;
}

/* STATUS HEADERS */
.status-header {
    padding-left:1px;
    clear: both;
}

.status-header-cell {
    padding: 15px 5px;
    text-align: center;
    font-size: 2em;
    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    background: #AAAAAA;
    background: -webkit-linear-gradient(top, #CCCCCC 0%, #AAAAAA 100%);
    background: -moz-linear-gradient(top,  #CCCCCC 0%, #AAAAAA 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCCCC), color-stop(100%,#AAAAAA)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #CCCCCC 0%,#AAAAAA 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #CCCCCC 0%,#AAAAAA 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #CCCCCC 0%,#AAAAAA 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #CCCCCC 0%,#AAAAAA 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#AAAAAA',GradientType=0 ); /* IE6-9 */
    box-shadow: inset 0 1px 0 0 white;
    border: 1px solid #888888;
    border-bottom: none;
}

/* STORY ELEMENT */

.story {
    width:100%;
    clear:both;
    vertical-align: top;
}

.story-content {
    min-height: 100px;
    font-size: 14px;
    line-height: 30px;
}

.story-input {
    background: none;
    border:none;
    width:80%;
    height:95%;
    min-height: 100px;
    resize: none;
    display:none;
}

.story-points {
    font-weight: bold;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
    .story-points p {
        font-size: 2em;
        display: inline;
        vertical-align: middle;
    }

.delete-story {
    display: none;
    position: absolute;
    top: 7px;
    right: 5px;
    cursor: pointer;
}

.move-story {
    display: none;
    position: absolute;
    top: 7px;
    left: 5px;
    cursor: pointer;
}

.story-status-show {
    display: none;
    position: absolute;
    line-height: 1em;
    top: 7px;
    right: 30px;
}

.story-points-input {
    width: 80%;
    height:80%;
    resize: none;
    display: none;
}

.story-detail-cell {
    padding: 20px 10px;
    height:100%;
    position:relative;
    border: 1px solid #888888;
    width: 32%;
}

.story-status-cell {
    vertical-align: top;
    padding: 20px 5px;
    height:100%;
    min-height:130px;
    border: 1px solid #888888;
}

.drop-active {
    background-color: #eee;
}

.drop-hover {
    background-color: #ccf;
    border: 1px solid #22f;
}

.notepaper {
    position: relative;
    margin: 0 auto;
    padding: 29px 20px 20px 45px;
    line-height: 30px;
    color: #6a5f49;
    text-shadow: 0 1px 1px white;
    background-color: #f2f6c1;
    background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    border: 1px solid #c3baaa;
    /* IE 8 */
    border-color: rgba(195, 186, 170, 0.9);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
}
.notepaper:before, .notepaper:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
}
.notepaper:before {
    left: 28px;
    width: 2px;
    border: solid #efcfad;
    /* IE 8 */
    border-color: rgba(239, 207, 173, 0.9);
    border-width: 0 1px;
}
.notepaper:after {
    z-index: -1;
    left: 0;
    right: 0;
    background: #f2f6c1;
    border: 1px solid rgba(170, 157, 134, 0.7);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

.testable {
    background: hsl(219, 79%, 90%);
}
    .testable:after {
        background: hsl(219, 79%, 90%);   
    }
.done {
    background: #dff0d8;
}
    .done:after {
        background: #dff0d8;
    }
