{% extends 'ItsallagileCoreBundle::base.html.twig' %}

{% block body %}
        <div class="span6">
            <div class="page-header">
                <h1>Manage Team -  {{ team.name}}</h1>

                <h3>Members</h3>
                <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for user in team.users %}
                    <tr>
                        <td>{{ user.fullName }}{% if user == team.owner %} - <strong>Owner</strong>{% endif %}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user != team.owner %}
                            <a href="{{ path('core_teams_removeUser', {'id_team': team.id,  'id_user': user.id }) }}">
                                <i class="icon-remove" title="Remove from team"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>

        </div>
{% endblock %}
